@media only screen and (max-width: 1110px) {
    .link a {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 1000px) {
    /* itroduction-section*/
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro-text {
        width: 95%;
    }
    .intro-img {
        width: 95%;
        flex-wrap: nowrap;
        position: relative;
    }
    .intro-img img {
        width: 23.75%;
        height: 250px;
    }
    /* section-1*/
    .WCC-part-1 {
        width: 100%;
    }
    .WCC-part-1 img {
        width: 95%;
        height: 500px;
    }
    /*section-2*/
    .CCC-part-1 {
        width: 100%;
        flex-direction: column;
    }
    .ccc-1-div {
        width: 100%;
    }
    .ccc-1-img {
        width: 100%;
    }
    .h2-img {
        margin: 10px 0;
    }
    .CCC-part-2 {
        display: flex;
        flex-direction: column;
    }
    .CCC-2-div {
        width: 95%;
        margin-left: 15px;
    }
    .CCC-2-img  {
        width: 95%;
        margin: 0 25px;
    }
    CCC-part-2 ul {
        font-size: 0.9rem;
    }
    /*section-3*/
    .ECC {
        width: 100%;
    }
    .ECC img {
        width: 95%;
    }
}

@media only screen and (max-width: 970px) {
    .navbar {
        display: flex;
        justify-content: space-around;
    }
    .link {
        font-size: 0.9rem;
    }
    .title {
        position: relative;
        top: 0;
        left: 0;
    }
    .first-contaner, .second-contaner, .thired-contaner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 880px) {
    .linkBox {
        display: none;
    }
    .burger {
        visibility: visible;
        width: 60px;
        height: 40px;
    }
    .intro-img img {
        width: 170px;
        height: 170px;
    }
}

@media only screen and (max-width: 740px) {
    #nextBtn, #prevBtn {
        font-size: 40px;
    }
    .intro-img img {
        width: 130px;
        height: 130px;
    }
}

@media only screen and (max-width: 660px) {
    .title {
        width: 350px;
    }

    .title h1 {
        font-size: 2rem;
        padding: 15px 0;
    }

    .title p {
        font-size: 1rem;
        width: 90%;
    }

    .btn {
        margin-top: 20px;
    }

    #nextBtn, #prevBtn {
        font-size: 30px;
    }

.ECC h2 {
    font-size: 1.8rem;
}
    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 574px) {
    .intro-img {
        width: 95%;
        flex-wrap: wrap;
        position: relative;
    }

    .intro-img img {
        width: 50%;
        height: 170px;
    }
    .sec-1-img {
        width: 50%;
    }
    .CCC-2-div {
        width: 85%;
        margin-left: 5px;
    }
}


@media only screen and (max-width: 460px) {
    .slider-logos {
        position: relative;
        top: -10%;
    }
    .burger {
        visibility: visible;
        width: 50px;
        height: 30px;
    }
    /* .intro-img img {
        width: 150px;
        height: 150px;
    } */
}

@media only screen and (max-width: 390px) {
    .title {
        width: 300px;
    }

    .title h1 {
        font-size: 1.8rem;
        padding: 15px 0;
    }

    .title p {
        font-size: 0.9rem;
    }

    .btn {
        margin-top: 20px;
    }

    .burger {
        visibility: visible;
        width: 30px;
        height: 10px;
    }
    /* .intro-img img {
        width: 70px;
        height: 90px;
    } */
    .copy h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-height: 550px) {
    .title {
        height: 300px;
    }
    .btn {
        margin-top: 20px;
    }
    .title h1 {
        font-size: 2rem;
    }
    
    .title p {
        width: 80%;
        font-size: 1rem;
    }
}

@media only screen and (max-height: 550px) {
    .title {
        height: 250px;
    }
    .btn {
        margin-top: 15px;
    }
    .title h1 {
        font-size: 1.8rem;
    }
    
    .title p {
        width: 80%;
        font-size: 0.9rem;
    }
}

@media only screen and (max-height: 550px) {
    .title {
        height: 250px;
    }
    .btn {
        margin-top: 15px;
    }
    .title h1 {
        font-size: 1.8rem;
    }
    
    .title p {
        width: 80%;
        font-size: 0.9rem;
    }
}

@media only screen and (max-height: 375px) {
    .title {
        height: 200px;
        position: relative;
    }
    .btn {
        margin-top: 10px;
    }
    .title h1 {
        font-size: 1.6rem;
    }
    
    .title p {
        width: 80%;
        font-size: 0.8rem;
    }
}